@using Microsoft.AspNetCore.Hosting;
@inject IWebHostEnvironment hostingEnvironment;
@using Microsoft.AspNetCore.Http;
@inject IHttpContextAccessor httpContextAccessor;

@{
ViewData["Title"] = "Home Page";
var apiUrl = "";
@* var userId = httpContextAccessor.HttpContext.Request.Cookies["userId"]; *@
}

@section Scripts
{
  <script src="~/lib/jquery/dist/jquery.min.js"></script>
  <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <script src="~/js/site.js" asp-append-version="true"></script>
  <script>
    function setCookie(cName, cValue, expDays) 
    {
        let date = new Date();
        date.setTime(date.getTime() + (expDays * 24 * 60 * 60 * 1000));
        const expires = "expires=" + date.toUTCString();
        document.cookie = cName + "=" + cValue + "; " + expires + "; path=/";
    }
    function getCookie(cookieName)
    {
      let cookie = {};
      document.cookie.split(';').forEach(function(el) {
        let [key,value] = el.split('=');
        cookie[key.trim()] = value;
      })
      return cookie[cookieName];
    }

    let userId = (getCookie("loginData"))
    if(userId == null || userId =="")
    {
      // Make an AJAX request to the SignOutIfCookieIsEmpty action
      $.ajax({
          url: '/Home/SignOutIfCookieIsEmpty',
          type: 'post'
      });
        // Apply setCookie
      setCookie('loginData', '', 30);
    }

  </script>
}
<html>
  <head>
    <link href="/css/styles.css" rel="stylesheet" />
    <link rel="manifest" href="manifest.json" />
  </head>
  <body>
    <div class="text-center">
      <h1 class="display-4">Welcome to SloveniaTrips</h1>
      <p>We help each other grow &lt;3</p>
    </div>
    <div class="bg-img"></div>
    <div class="TextBlock1">
      <div class="TextBlockTitle">
        What is this?
      </div>
      This is a small application developed by two Students. We want to help you find interesting cultural events around you
    </div>
    <div class="TextBlock2">
      <div class="TextBlockTitle">
        What is our mission?
      </div>
      We wanted to aquaint tourists with our lovely little country culturally and historically in as little time as possible
    </div>
    <div class="TextBlock1">
      <div class="TextBlockTitle">
        Want to know more?
      </div>
      We have a partner website where you can find out more about our country.<br>
      <a href="https://www.travel-slovenia.si/slovenia/" style="color: black;"><u>Travel Slovenia</u></a>
    </div>

  </body>

</html>
