.bg-img {
  background-image: url(/castle-bg.jpg);
  filter: blur(5px);
  -webkit-filter: blur(5px);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}
.img-container {
  width: 250px;
  height: 250px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.img-container img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.TextBlock1 {
  width: 35vw;
  left: 31%;
  height: fit-content;
  max-height: 30vh;
  background-color: rgba(130, 130, 130, 0.8);
  border-radius: 3px;
  text-align: center;
  padding: 10px;
  margin-bottom: 20px;
  position: relative;
}


.TextBlockTitle {
  width: 100%;
  height: 15%;
  left: 40%;
  background-color: rgba(140, 140, 140, 0.95);
  border-radius: 3px;
  font-size: large;
  font-weight: 500;
  text-align: center;
}

#Profile {
  float: left;
  width: 45%;
}

#event-list {
  float: right;
  width: 45%;
}

#plannedevent-list {
  float: left;
  width: 100%;
  margin-top: 15px;
}

#visitedevent-list {
  margin-top: 15px;
}

#event-listcontent{
  height: 247px;
  overflow-y: auto;
}

#plannedevent-listcontent{
  height: 247px;
  overflow-y: auto;
}

.list-group-item{
  background-color: rgba(248, 248, 248, 0.8)
}
::-webkit-scrollbar {
  width: 0px;
  background: transparent; 
}